<!-- Como usar For en Angular -->
<!-- <app-presentacion *ngFor="let persona of personas">
    [nombre]="persona.nombre"
    [titulo]="persona.titulo"
</app-presentacion> -->

<!-- Como usar Switch en Angular -->
<!-- <div [ngSwitch]="condicionSW">
    <div *ngSwitchCase="1">
        Condicion 1 del SwitchCase
    </div>
    <div *ngSwitchCase="2">
        Condicion 2 del SwitchCase
    </div>
    <div *ngSwitchCase="3">
        Condicion 3 del SwitchCase
    </div>
    <div *ngSwitchDefault>
        Condicion por default del SwitchCase
    </div>
</div> -->

<app-listado-personas></app-listado-personas>